<div class="sidebar-container">
  <h4>Friends:</h4>
    <ul>
      <% for (freind of locals.user.friendships){%>
        <li class="item">
          <% if(freind.avatar) {%>
            <img src="<%=freind.avatar%>" class='img' height="30" width="30">
            <% }else{%>
              <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" class='img' height="30" width="30">
              <%}%>
          <a href='/users/profile-freind/?id=<%=freind.id%>&type=<%=freind._id%>' class="black-text"> <%=freind.name%></a>
        </li>
    <% } %>
    </ul>
</div>