<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/'>
                   iConnect 
                </a>
            </p>
        </div>

        <div class="search-header">
            <% if (locals.user){ %>
            <form class="search" action="/users/search"  method="GET">
                    <input type="text" name="name" class="searchTerm" placeholder="Find User" required>
                    <button type="submit" class="searchButton" ><i class="fa fa-search"></i></button>
            </form>
            <% } %>
        </div>
    
        <div class="auth-links">
            <% if (locals.user){ %>
                <ul class="item">
                    <li>
                        <a href='/users/profile/<%= user.id %>'>
                            <% if(user.avatar) {%>
                                <img class='img' src="<%=user.avatar%>" style="height: 30; width: 30;">
                            <% }else{%>
                                <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-512.png" class='img' height="30" width="30">
                            <%}%>
                        </a>&nbsp;&nbsp;
                    </li>
                    <li style="margin-top: 5px;">
                        <a href='/users/profile/<%= user.id %>' class="text"><%=user.name%></a>&nbsp;&nbsp;
                    </li>
                    <li style="margin-top: 5px;">
                        <a href="/users/sign-out" class="text">Sign Out</a>
                    </li>
                   
                </ul>
            <% } %>
        </div>
    </nav>
</header>