<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/'>
                   iConnect 
                </a>
            </p>
        </div>

        <div class="search-header">
            <% if (locals.user){ %>
            <form class="search" action="/users/search"  method="GET">
                    <input type="text" name="name" class="searchTerm" placeholder="Find User" required>
                    <button type="submit" class="searchButton" ><i class="fa fa-search"></i></button>
            </form>
            <% } %>
        </div>
    
        <div class="auth-links">
            <% if (locals.user){ %>
                <div class="item">
                    <a href='/users/profile/<%= user.id %>'><%= user.name %> </a>&nbsp;
                    <a href='/users/chatbot'>Messenger </a>&nbsp;
                    <a href="/users/sign-out">Sign Out</a>
                   
                </div>
            <% } %>
        </div>
    </nav>
</header>