#home-container{
    flex: 1;
    display: flex;
    overflow: auto;
    scroll-snap-type: y mandatory;
    
    #welcome-text{
        margin-top: 25px;
        text-align: center;
    }

    #user-details{
        width: 20%;
        padding: 10px;
        margin-top: 20px;
    }

    #feed-posts{
        width: 60%;
        padding: 10px;
        align-items: flex-start;
        scroll-snap-align: start;
        margin-top: 20px;
    }

    #user-friends{
        width: 20%;
        padding: 10px;
        border-left: 1px solid;
        height: 100%;
        margin-top: 20px;
    }
}
