<div style="height: auto;width: 100%; font-size: 15px;">

    <p>
        <h1>Hello <%=resetuser.user.name%></h1>


    </p>

    <p>Reset your iConnect account password </p>
    
 <h4>Link</h4>  <a href="http://localhost:8000/users/resetpassword/update/?id=<%=resetuser.resetdb.key%>">http://localhost:8000/user/resetpassword/update/?id=<%=resetuser.resetdb.key%></a>

   <br>
   <br>
   <p>Thanks & Regards</p>
   <h3>Team iConnect</h3>
</div>